body {
    font-family: 'Helvetica', Arial, sans-serif;
    color: #B20A32;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lora', serif;
    color: #FFFFFF;
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #073b4c;
    padding: 20px;
}

nav {
    margin-top: 10px;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    font-size: 1.2em;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.articles {
    display: grid;
    gap: 20px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px; 
}

.article-meta {
    font-size: 1em; 
    text-align: right; 
    line-height: 1.4;
    margin: 5px 0; 
    padding-right: 10px;
    border-right: 1px solid #073b4c; 
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 10px;
}

.article-content h2 {
    margin: 0 0 10px 0; 
    font-size: 1.5em;
    color: #B20A32;
    text-align: left; 
}

.article-content p {
    margin: 5px 0;
}

.article-content .description {
    margin-top: 10px;
}

.article-content .read-more {
    color: #B20A32;
    font-weight: bold;
}

.article img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; 
}

.filters {
    padding: 20px;
    border-radius: 8px;
    color: black;
    border: 1px solid #073b4c;
}

footer {
    background-color: #073b4c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #B20A32;
    color: #fff;
    padding: 5px;
    z-index: 1000;
    transition: top 0.3s;
}

.skiptocontent a:focus {
    top: 0;
}